
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {

   width: 420px;
   height: 680px;
 
    margin: 0 auto;
    margin: 90px 0;
    background-color: var(--DarkGrey);
    text-align: center;
    border-radius: 10px;
}
.profile{
    display: flex;
    justify-content: center;
    padding: 30px;
}
img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
}
.name {
    
    font-size: 35px;
    font-weight: 600;
    color: var(--White);
 
}
.location{
    
    font-size: 16px;
    color: var(--Green);
    padding: 15px;
    
}

.skills{
    font-size: 14px;
    color: var(--White);
    padding: 10px 10px;
}

.group-socials{
   margin: 10px;
}

.social-link
{
    background-color:var(--Grey);
    margin:15px 50px;
    padding: 15px;
    border-radius: 10px;
    color: var(--White);
    font-weight: 700;
    cursor: pointer;

}

.social-link:hover
{
    background-color: var(--Green);
    color: var(--DarkGrey);
}

@media only screen and (max-width: 375px){
    main{
        width: 350px;
        height: 680px;
    }

    .group-socials{
        margin:0 10px;
     }
}



